/* Bagian Container */
.grid{ 
    background-color: #cccccc;
    border: 2px solid #000;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 250px;
    padding: 10px;
}

.grid div{
    background-color: red;
    height: 25px;
    width: 25px;
}

/* Bagian Balok */
.tetromino{
    background-color: blue;
}